<h2>Notes</h2>

<p>
  <span class="italic">selector:</span> simply defines the css selector for the component
  </p>

<p>
  A <span class="italic">Component</span> is simply a <span class="bold">Directive</span> which has a
  <span class="bold">Controller</span> and a <span class="bold">View</span>.<br>
  The View is the template and the Controller is the class.
</p>

<p>
  <span class="italic">ng-repeat</span> is now <span class="bold">*ngFor</span> :<br>
  *ngFor="let x of myArray"
 </p>

<p>
  <span class="bold">angular-cli commands</span>:<br>
</p>

  <ul>
    <li>ng new PROJECT_NAME</li>
    <li>ng serve</li>
    <li>ng g component nameOfComponent</li>
    <li>ng g directive nameOfDirective</li>
    <li>ng g service nameOfService</li>
    <li>ng g pipe nameOfPipe</li>
    <li>ng g class nameOfClass</li>
    <li>ng g interface nameOfInterface</li>
  </ul>

  <p>After creation of a directive :<p>
    <ol>
      <li>1- import it in app.module.ts</li>
      <li>2- declare it in @NgModule declarations (still in app.module.ts)</li>
      <li>3- add it in HTML</li>
    </ol>


