<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Charts</title>

	<link rel="icon" href="favicon.png" type="image/x-icon" />

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css" />

	<!-- JS -->
	<script src="vue.js"></script>
	<script src="client.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.3.0/vue-resource.min.js"></script>
</head>
<body>

	<div class="columns is-mobile">
		<div class="column">
			<h1 class="title is-2 main-title">My Charts App!</h1>
		</div>
	</div>

	<div class="columns is-mobile">
		<div id="msg" class="column">
			<ul>
				<li v-cloak v-for="msg in messages" :class="{ italic: msg.id === 1 }" :key="msg.id">
					{{ msg.content }}
				</li>
			</ul>
			<div>
				<p><label for="newMsg">New message:</label> <input type="text" id="newMsg" v-model="new_message" />
					<button @click="sendMessage">Send new message</button>
				</p>
			</div>
		</div>
	</div>

	<div class="columns is-mobile">
		<div id="userinput" class="column">
			<p>{{ text }}</p>
			<button @click="toUpper">Click!</button>
			<input v-model="text">
		</div>
	</div>

	<div class="columns is-mobile">
		<div id="phones" class="column">
			<ul>
			<phones-list v-for="phone in phonesList" :phone="phone"></phones-list>
			</ul>
		</div>
	</div>

	
</body>
</html>